[Unit]
Description=Chat bot for Nord Pool REMIT UMM push notifications
After=network.target

[Service]
WorkingDirectory=/opt/umm-bot
ExecStartPre=/usr/bin/npm install
ExecStartPre=/usr/bin/npm run build
ExecStart=/usr/bin/node /opt/umm-bot/dist/umm-slack-bot.js -d /opt/umm-bot/umm-bot.database.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
